
body {
    font-family: "Segoe UI", Robot, sans-serif;
    margin: 0;
    background-color: aqua;
    
}
h1 {
    color: black;
    font-family: "Segoe UI", Robot, sans-serif;
    font-size: xx-large;
    background-color: blue;
    border: 2mm solid pink;
   
}
p {
    font-family: sans-serif;
    font-size: medium;
    background-color: blue;
    border: 2mm solid pink;

}
